{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1> Welcome to My-Auditorium Booking Service </h1>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="shows">
      {% for item in shows %}
    <form method="POST" id={{item.id}} action="/" class="btn">
      {% csrf-field %}
      <p> - {{item.show_name}}</p>
      <p> - Slot {{item.slot}}</p>
      {% if errors.seat_id%}
      <div class="alert alert-danger">
{errors.seat_id|join}
      </div>
      {% endif %}
        <select form="{{item.id}}" name="seat_id"> 
          {% for seat in seats %}
          <option value="{{seat.id}}">{{seat.seat_name}}</option>
          {% endfor %}
          </select>
<input type="submit" name="show_id" class="btn btn-success pull-right" value="{{item.id}}" />
        </form>
      </li>
      {% endfor %}
      </ul>
      </form>
    </div>
  </div>
{% endblock %}
