{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1> Welcome to My-Auditorium Booking Service </h1>
    </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3> Available Shows </h3>
    <div class="col-sm-12">
      {% for item in shows %}
    <div class="row shows">
      <a href="/show/{{item.id}}">
        <div class="col-sm-8">
          <h3>{{item.show_name}}</h3>
        </div>
        <div class="col-sm-4 pull-right">
          <h4>Slot: {{item.slot}}</h4>
        </div>
      </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
